
// .nav-wrapper{
//   position: absolute;
//   right: 0;
//   left: 0;
//   display: flex;
//   justify-content: space-between;
//   height: 120px;
//   align-items: center;
//   padding: 0 60px;
//   overflow: hidden;
//   position: fixed;
//   backdrop-filter: blur(16px) saturate(180%);
//   -webkit-backdrop-filter: blur(16px) saturate(180%);
//   // border: 1px solid rgba(255, 255, 255, 0.125);


//   .gridx-logo{
//     width: 100px;
//   }
//   .link-wrapper{
//     list-style-type: none;
//     display: flex;
//     column-gap: 30px;
//     align-items: center;
//     font-weight: 400;
//   }
//   .link{
//     color: black;
//     text-decoration: none;
    
//   }
//   .demo-link{
//     color: white;
//     background-color: #0bb7b4;
//     padding: 13px 16px;
//     text-decoration: none;
//     font-weight: 500;
//   }
// }


@media (min-width: 360px) {
  .App {
    font-family: mark Pro;
    color: black;
    margin: 0;
    position: absolute;
    height: 0px;
    right: 0;
    left: 0;
    background-color: yellow;

    .header-wrapper{
      // backdrop-filter: blur(20px) saturate(180%);
      // -webkit-backdrop-filter: blur(20px) saturate(180%);
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      position: fixed;
      right: 0;
      top: 0;
      left: 0;
      background-color: white;
      z-index: 1000000;

      .gridx-logo{
        width: 80px;
      }

      button{
        z-index: 1000;
      }

      .menu-icon{
        
        #menu_checkbox {
          display: none;
        }
        
        label {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 30px;
          height: 20px;
          transform: translateY(-5%);
          transition: 0.3s ease transform;
          cursor: pointer;
          
        }
        
        label div {
          width: 5px;
          height: 3px;
          background-color: black;
          margin-left: 0;
          transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
            0.3s ease background-color;
        }
        
        label div:first-child {
          width: 30px;
        }
        
        label div:nth-child(2) {
          width: 30px;
        }
        
        label div:last-child {
          width: 30px;
          margin-bottom: 0;
        }
        
        #menu_checkbox:checked + label {
          transform: translateY(30%) rotateZ(-90deg);
        }
        
        #menu_checkbox:checked + label div {
          width: 6px;
          margin-left: 12px;
          margin-bottom: 3px;
          background-color: #0bb7b4;
        }
      } 
      
    }
  }
}






