
// .nav-wrapper{
//   position: absolute;
//   right: 0;
//   left: 0;
//   display: flex;
//   justify-content: space-between;
//   height: 120px;
//   align-items: center;
//   padding: 0 60px;
//   overflow: hidden;
//   position: fixed;
//   backdrop-filter: blur(16px) saturate(180%);
//   -webkit-backdrop-filter: blur(16px) saturate(180%);
//   // border: 1px solid rgba(255, 255, 255, 0.125);


//   .gridx-logo{
//     width: 100px;
//   }
//   .link-wrapper{
//     list-style-type: none;
//     display: flex;
//     column-gap: 30px;
//     align-items: center;
//     font-weight: 400;
//   }
//   .link{
//     color: black;
//     text-decoration: none;
    
//   }
//   .demo-link{
//     color: white;
//     background-color: #0bb7b4;
//     padding: 13px 16px;
//     text-decoration: none;
//     font-weight: 500;
//   }
// }


@media (min-width: 360px) {
  .App {
    font-family: mark Pro;
    color: black;
    margin: 0;
    position: absolute;
    height: 100px;
    right: 0;
    left: 0;

    .header-wrapper{
      backdrop-filter: blur(20px) saturate(180%);
      -webkit-backdrop-filter: blur(20px) saturate(180%);
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      position: fixed;
      right: 0;
      top: 0;
      left: 0;

      .gridx-logo{
        width: 80px;
      }

    button{
      z-index: 1000;
    }
    }

    .nav-wrapper{
      padding: 0 20px;
      background-color: red;
      height: 220vh;
      margin: 0;
      position: relative;
      top: 0;
      visibility: hidden;
      
      .menu-wrapper{
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 360px;
        height: 220vh;
        background-color: lightgoldenrodyellow;
        
        
  
        .menu-container{
          padding-left: 20px;
  
          h2{
            color: #4166e9;
            margin: 0;
            margin-bottom: 10px;
            font-size: 15px;
            margin-top: 25px;
          }
  
          h3{
            color: #b9c2db;
            font-size: 14px;
            margin: 0;
            margin-bottom: 10px;
          }
  
          .link-list{
            list-style: none;
            padding: 0;
            text-decoration: none;
  
            .link{
              text-decoration: none;
  
              h4{
                color: black;
                margin: 0;
                margin-left: 12px;
                font-size: 14px;
                font-weight: 500;
              }
  
              h5{
                color: black;
                margin: 0;
                margin-left: 12px;
                font-size: 14px;
                margin-bottom: 13px;
                font-weight: 500;
              }
              p{
                margin: 0;
                font-size: 12px;
                color: #4d4d4d;
                margin-bottom: 15px;
                margin-left: 12px
              }
            }
          }
        }
      }
    }
  }
}






