
// .link-container{
//   position: absolute;
//   right: 0;
//   left: 0;
//   display: flex;
//   justify-content: space-between;
//   height: 120px;
//   align-items: center;
//   padding: 0 60px;
//   overflow: hidden;
//   position: fixed;
//   backdrop-filter: blur(16px) saturate(180%);
//   -webkit-backdrop-filter: blur(16px) saturate(180%);
//   // border: 1px solid rgba(255, 255, 255, 0.125);


//   .gridx-logo{
//     width: 100px;
//   }
//   .link-wrapper{
//     list-style-type: none;
//     display: flex;
//     column-gap: 30px;
//     align-items: center;
//     font-weight: 400;
//   }
//   .link{
//     color: black;
//     text-decoration: none;
    
//   }
//   .demo-link{
//     color: white;
//     background-color: #0bb7b4;
//     padding: 13px 16px;
//     text-decoration: none;
//     font-weight: 500;
//   }
// }


@media (min-width: 360px) {
  .App {
    font-family: mark Pro;
    color: black;
    margin: 0;
    position: absolute;
    height: 0px;
    right: 0;
    left: 0;

    .nav-container{
      height: 100vh;
      overflow-y: scroll;
      padding-top: 20px;
      top: 80px;
      right: 0;
      left: 0;
      z-index: 100000;
      position: fixed;
      background-color: white;

      .menu-wrapper{
        color: white;
        height: 220vh;
    
        
        .menu-container{
          margin-bottom: 50px;
          
    
          h2{
            color: #4166e9;
            margin: 0;
            margin-bottom: 10px;
            font-size: 1.2rem;
            margin-top: 25px;
          }
    
          h3{
            color: #b9c2db;
            font-size: 14px;
            margin: 0;
            margin-bottom: 1rem;
          }
    
          .link-list{
            list-style: none;
            padding: 0;
            text-decoration: none;
    
            .link{
              text-decoration: none;
    
              h4{
                color: black;
                margin: 0;
                margin-left: 12px;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 5px;
              }
    
              h5{
                color: black;
                margin: 0;
                margin-left: 12px;
                font-size: 1rem;
                margin-bottom: 13px;
                font-weight: 500;
              }
              p{
                margin: 0;
                font-size: .95rem;
                color: #676767;
                margin-bottom: 15px;
                margin-left: 12px;
                
              }
            }
          }
        }
      }
    }

    .header-wrapper{
      // backdrop-filter: blur(20px) saturate(180%);
      // -webkit-backdrop-filter: blur(20px) saturate(180%);
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      position: fixed;
      right: 0;
      top: 0;
      left: 0;
      background-color: white;
      z-index: 100;

      .gridx-logo{
        width: 80px;
      }

      button{
        z-index: 1000;
      }

      .menu-icon{
        
        #menu_checkbox {
          display: none;
        }
        
        label {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 30px;
          height: 20px;
          transform: translateY(-5%);
          transition: 0.2s ease transform;
          cursor: pointer;
          
        }
        
        label div {
          width: 5px;
          height: 3px;
          background-color: black;
          margin-left: 0;
          transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
            0.3s ease background-color;
        }
        
        label div:first-child {
          width: 30px;
        }
        
        label div:nth-child(2) {
          width: 30px;
        }
        
        label div:last-child {
          width: 30px;
          margin-bottom: 0;
        }
        
        #menu_checkbox:checked + label {
          transform: translateY(30%) rotateZ(-90deg);
        }
        
        #menu_checkbox:checked + label div {
          width: 6px;
          margin-left: 12px;
          margin-bottom: 3px;
          background-color: #0bb7b4;
        }
      } 
    }

    .link-container{
      visibility: hidden;
      position: absolute;

    }

    .xenon-menu-container{
      visibility: hidden;
      position: absolute;
    }

    .usecases-menu-container{
      visibility: hidden;
      position: absolute;
    }

    .modules-menu-container{
      visibility: hidden;
      position: absolute;
    }

    .company-menu-container{
      visibility: hidden;
      position: absolute;
    }
  }
}



// DESKTOP VIEW STYLING

@media (min-width:1200px){
  .App{

    .header-wrapper{
      padding: 0 200px;
      background-color: lightgray;
      height: 100px;
      visibility: hidden;

      .gridx-logo{
        width: 120px;
      }
      
      .menu-icon{
        visibility: hidden;
      }
    }

    .nav-container{
      visibility: hidden;
    }

    .link-container{
      visibility: visible;
      position: fixed;
      z-index: 1000000;
      background-color: white;
      height: 130px;
      padding: 0 200px;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img{
        width: 110px;
      }

      .link-wrapper{
        display: flex;
        list-style: none;
        column-gap: 80px;
        font-size: 1.1rem;
        align-items: center;

        .link{
          text-decoration: none;
          color: black;
          transition: 0.3s ease-in-out;
          font-weight: 500;
        }

        .link:hover{
          color: grey;
        }
      }

      .demo-button{
        height: 50px;
        width: 160px;
        font-size: 1.2rem;
        background-color: #0bb7b4;
        border: none;
        cursor: pointer;

        .demo-link-button{
          text-decoration: none;
          font-family: Mark Pro;
          color: white;
        }
      }
      
    }

    .xenon-menu-container{
      visibility: visible;
      position: fixed;
      top: 130px;
      left: 0;
      right: 0;
      height: 750px;
      background-color: rgba($color: #82878d, $alpha: 0.4);
      display: flex;
      justify-content: center;
      padding-top: 10px;
      z-index: 1000000000;

      .xenon-menu-wrapper{
        width: 330px;
        height: 240px;
        border-radius: 20px;
        background-color: white;
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menu-container{
          display: flex;
          height: 70px;
          align-items: center;

          .xenon-link{
            display: flex;
            text-decoration: none;

            .img-container{
              display: flex;
              align-items: center;
              img{
                width: 50px;
              }
            }
  
            .text-container{
              margin-left: 15px;
  
              h3{
                margin: 0;
                font-weight: 500;
                color: black;
              }
    
              p{
                margin: 0;
                font-size: 1rem;
                font-weight: 400;
                color: rgb(174, 181, 194);
              }
            }
          }
        }
      }
    }






    .usecases-menu-container{
      visibility: hidden;
      position: fixed;
      top: 130px;
      left: 0;
      right: 0;
      height: 750px;
      background-color: rgba($color: #82878d, $alpha: 0.4);
      display: flex;
      justify-content: center;
      padding-top: 10px;
      z-index: 1000000000;

      .usecases-menu-wrapper{
        width: 420px;
        height: 310px;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        

        .menu-container{
          padding-left: 30px;
          padding-top: 30px;
          padding-right: 30px;
          display: flex;
          height: 70px;
          align-items: center;

          .menu-link{
            display: flex;
            text-decoration: none;

            .img-container{
              img{
                width: 50px;
              }
            }
  
            .text-container{
              margin-left: 15px;
  
  
              h3{
                margin: 0;
                font-weight: 500;
                color: black;
              }
    
              p{
                margin: 0;
                font-size: 1rem;
                font-weight: 400;
                color: rgb(174, 181, 194);
              }
            } 
          }
        }

        .sub-menu-container{  
          padding: 0 30px;
          display: flex;
          height: 100px;
          width: 520px;
          align-items: center;
          background-color: #f1f4fa;
          margin-top: 30px;

          .text-container{
            margin-left: 15px;

            .text-link{
              text-decoration: none;
            }

            h3{
              margin: 0;
              font-weight: 500;
              color: black;
            }
  
            p{
              margin: 0;
              font-size: 1rem;
              font-weight: 400;
              color: rgb(174, 181, 194);
            }
          }
        }
      }
    }

    .modules-menu-container{
      visibility: hidden;
      position: fixed;
      top: 130px;
      left: 0;
      right: 0;
      height: 750px;
      background-color: rgba($color: #82878d, $alpha: 0.4);
      display: flex;
      justify-content: center;
      padding-top: 10px;
      z-index: 1000000000;


      .modules-menu-wrapper{
        background-color: white;
        width: 1000px;
        height: 500px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        padding: 30px 30px;
        column-gap: 20px;

        .left-wrapper{
          width: 350px;
          

          h3{
            margin: 0;
            color: #b9c2db;
            margin-bottom: 20px;
          }

          .modules-link{
            text-decoration: none;
            
            .modules-link-wrapper{
              display: flex;
              align-items: center;
              margin-bottom: 15px;
            }

            .modules-img-wrapper{
              display: flex;
              align-items: center;
              
              img{
                width: 35px;
              }
            }
            .modules-text-wrapper{
              margin-left: 15px;
              h3{
                margin: 0;
                color: black;
                font-weight: 500;
              }

              P{
                margin: 0;
                color: rgb(174, 181, 194);
              }
            }
          }
        }

        .center-wrapper{
          width: 350px;
          
          
          h3{
            margin: 0;
            color: #b9c2db;
            margin-bottom: 20px;
          }

          .modules-link{
            text-decoration: none;
            
            .modules-link-wrapper{
              display: flex;
              align-items: center;
              margin-bottom: 15px;
            }

            .modules-img-wrapper{
              display: flex;
              align-items: center;
              
              img{
                width: 35px;
              }
            }
            .modules-text-wrapper{
              margin-left: 15px;
              h3{
                margin: 0;
                color: black;
                font-weight: 500;
              }

              P{
                margin: 0;
                color: rgb(174, 181, 194);
              }
            }
          }
        }

        .right-wrapper{
          width: 350px;

          h3{
            margin: 0;
            color: #b9c2db;
            margin-bottom: 20px;
          }

          .modules-link{
            text-decoration: none;
            
            .modules-link-wrapper{
              display: flex;
              align-items: center;
              margin-bottom: 15px;
            }

            .modules-img-wrapper{
              display: flex;
              align-items: center;
              
              img{
                width: 35px;
              }
            }
            .modules-text-wrapper{
              margin-left: 15px;
              h3{
                margin: 0;
                color: black;
                font-weight: 500;
              }

              P{
                margin: 0;
                color: rgb(174, 181, 194);
              }
            }
          }

          
        }


      }
    }

    .company-menu-container{
      visibility: hidden;
      position: fixed;
      top: 130px;
      left: 0;
      right: 0;
      height: 750px;
      background-color: rgba($color: #82878d, $alpha: 0.4);
      display: flex;
      justify-content: center;
      padding-top: 10px;
      z-index: 1000000000;

      .company-menu-wrapper{
        background-color: white;
        width: 660px;
        height: 466px;
        border-radius: 20px;
        overflow: hidden;

        .company-top{
          display: flex;
          justify-content: space-between;
          padding: 30px 30px;

          .company-left,
           .company-right{

            width: 300px;

            h3{
              margin: 0;
              color: #b9c2db;
              margin-bottom: 20px;
            }
            
            .company-link{
              text-decoration: none;
              
              .company-link-wrapper{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
              }
  
              .company-img-wrapper{
                display: flex;
                align-items: center;
                
                img{
                  width: 35px;
                  
                }

                .blog-icon{
                  height: 40px;
                }
              }
              .company-text-wrapper{
                margin-left: 15px;
                
                h3{
                  margin: 0;
                  color: black;
                  font-weight: 500;
                }
              }
            }
          }
        }

        .company-bottom{
          background-color: #f1f4fa;
          padding: 30px 30px;      


          h4{
            margin: 0;
            margin-bottom: 10px;
            font-weight: 500;
          }
          
          div{
            height: 80px;


            a{
              text-decoration: none;
              color: rgb(54, 54, 54);
            }
          }

        }
      }
    }
  }
}






