@media (min-width: 360px){
  .client-container{
    background-color: #f1f4fa;
    height: 140vh;
    padding: 0 20px;
    padding-top: 70px;

    .client-company-container{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 30px;
      
      height: 200px;
      

      img{
        width: 95px;
        opacity: 0.8;
      }
    }

    .focus-gridx-container{
      display: flex;
      flex-direction: column;
      margin-top: 90px;

      h4{
        font-size: .9rem;
        margin: 0;
        margin-bottom: 10px;
        color: #4166e9;
      }

      h3{
        margin: 0;
        font-size: 1.5rem;
      }

      .focus-wrapper{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        
        img{
          width: 40px;
          margin-bottom: 15px;
        }

        h3{
          margin: 0;
          font-size: 1.2rem;
          margin-bottom: 15px;
        }

        p{
          margin: 0;
          font-size: 1rem;
          color: #546982;
          line-height: 25px;
        }
      }
    }
  }
}

@media (min-width:1200px){
  .client-container{
    padding: 120px 200px;
    height: 90vh;

    .client-company-container{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 160px;
      column-gap: 90px;

      img{
        width: 200px;
        opacity: 0.4;
        
      }
    }

    .focus-gridx-container{
      h4{
        font-size: 1.5rem;
      }

      h3{
        font-size: 3rem;
        font-weight: 500;
      }
      
      .focus-container{
        display: flex;
        column-gap: 30px;
        margin-top: 20px;

        .focus-wrapper{

          img{
            width: 50px;
          }

          h3{
            font-size: 1.7rem;
          }

          p{
            font-size: 1.1rem;
          }
        }

      }
    }
  }
}