.company-container{
  height: 50vh;
  padding: 70px 20px;

  h4{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 10px;
    color: #4166e9;
  }

  h3{
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }

  p{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 30px;
    color: #546982;
    line-height: 25px;
  }

  button{
    background-color: #0bb7b4;
    color: white;
    border: none;
    padding: 12px 20px;
    font-family: Mark Pro;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
    font-size: 1.2rem;
    
  }

  a{
    text-decoration: none;
    color: #0bb7b4;
    font-weight: 500;
    font-size: 0.9rem;
    font-size: 1.2rem;
  }
}

@media (min-width:1200px){
  .company-container{
    padding: 120px 200px;
    height: 50vh;
    background-color: rgba($color: #ffffff, $alpha: 0.6);

    h4{
      font-size: 1.2rem;
      margin: 0;
      margin-bottom: 5px;
    }

    h3{
      font-size: 3rem;
      font-weight: 500;
      line-height: 50px;
      width: 600px;
    }
    
    img{
      width: 600px;
    }

    
    p{
      font-size: 1.1rem;
      width: 600px;
      margin-bottom: 70px;
    }
  }


  /* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  color: #0bb7b4;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 1s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 1s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 1s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 1s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

}