.footer-container{
  height: 210vh;
  background-color: #f1f4fa;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #546982;

  .row-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
    img{
      width: 100px;
      margin-bottom: 40px;
    }

    p{
      text-align: center;
      font-size: 1rem;
      margin: 0;
      line-height: 25px;
    }
  }

  .row-two{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    a{
      text-align: center;
      text-decoration: none;
      color: #546982;
      display: block;
      margin-bottom: 10px;

    }
  }

  .row-three{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    a{
      text-align: center;
      text-decoration: none;
      color: #546982;
      display: block;
      margin-bottom: 10px;
    }
  }

  .row-four{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    a{
      text-align: center;
      text-decoration: none;
      color: #546982;
      display: block;
      margin-bottom: 10px;
    }

    button{
      background-color: rgb(22, 22, 22);
      color: white;
      font-family: Mark Pro;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      font-size: .9rem;
    }

    img{
      width: 25px;
      padding: 0 10px;
    }

    .social-media-icons{
      img{
        opacity: 0.7;
      }
    }
  }
}

@media (min-width:1200px){
  .footer-container{
    padding: 0 200px;
    padding-top: 90px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 75vh;

    .row-one{
      align-items: flex-start;
      display: flex;

      p{
        text-align: left;
        font-size: 1.1rem;
      }

      img{
        filter:brightness(0%);
        width: 110px;
      }
    }

    .row-two{
      align-items: flex-start;
      display: flex;

      p{
        text-align: left;
        font-size: 1.1rem;
      }

      a{
        font-size: 1.1rem;
        margin-bottom: 10px;
      }
    }

    .row-three{
      align-items: flex-start;
      display: flex;

      p{
        text-align: left;
        font-size: 1.1rem;
      }

      a{
        font-size: 1.1rem;
        margin-bottom: 10px;
      }
    }

    .row-four{
      align-items: flex-start;
      display: flex;

      p{
        text-align: left;
        font-size: 1.1rem;
      }

      a{
        font-size: 1.1rem;
        margin-bottom: 5px;
      }

      .social-media-icons{
        display: flex;
        width: 113px;
        justify-content: space-between;

        img{
          margin: 0;
          padding: 0;
          cursor: pointer;
        }
      }
    }
  }
}