
@media (min-width: 360px) {
  .container{
    margin-top: 100px;
    height: 100vh;
    padding: 0 20px;
    padding-top: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;


    .left-column{
      margin-bottom: 90px;
      justify-content: center;
      
      h1{
        font-size: 2.6rem;
        line-height: 50px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        color: #1a1a1a;

      }
  
      p{
        font-size: 1rem;
        margin: 0;
        margin-bottom: 60px;
        color: #546982;
        line-height: 25px;
      }

      .button-wrapper{
        display: flex;

        .demo-button{
          background-color: #0bb7b4;
          border: none;
          padding: 10px 20px;
          font-family: Mark Pro;
          font-weight: 500;
          margin-right: 15px;
          font-size: 1.2rem;
          color: white;
        }
        .sales-button{
          border: none;
          background-color: transparent;
          font-family: Mark Pro;
          font-weight: 500;
          font-size: 1.2rem;
          
        }
      }

    }

    .right-column{
      display: flex;
      justify-content: center;
      width: 700px;

      img{
        width: 50%;
      }
    }
  }
}


@media (min-width: 1200px) {
  .container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0 200px;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 50px;
    background-color: rgba($color: #ffffff, $alpha: 0.6);

    .left-column{
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 50%;
      
      

      h1{
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 900;
      }

      p{
        font-size: 1.1rem;
        width: 65%;
        line-height: 1.6rem;
        margin-bottom: 100px;
      }

      .button-wrapper{
        display: flex;
        align-items: center;
        .demo-button{
          padding: 16px 35px;
          cursor: pointer;
          margin-right: 30px;
        }
        .sales-button{
          padding: 0 0;
          height: 20px;
          cursor: pointer;
        }
      }


    }

    .right-column{
      height: 100vh;
      width: 50%;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      padding-top: 30px;

      img{
        width: 550px;
      }
      
    }
  }
}
