.modules-container{
  height: 45vh;
  padding: 40px 20px;

  h4{
    font-size: .8rem;
    margin: 0;
    margin-bottom: 10px;
    color: #4166e9;
  }

  h3{
    margin: 0;
    margin-bottom: 20px;
  }

  p{
    font-size: .8rem;
    color: #808080;
    margin-bottom: 40px;
  }

  button{
    background-color: #ffc612;
    border: none;
    padding: 12px 20px;
    font-family: Mark Pro;
    font-weight: 500;
  }
}