.modules-container{
  height: 40vh;
  padding: 70px 20px;

  h4{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 10px;
    color: #4166e9;
  }

  h3{
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }

  p{
    font-size: 1rem;
    color: #546982;
    margin-bottom: 40px;
    line-height: 25px;
  }

  button{
    background-color: #0bb7b4;
    color: white;
    border: none;
    padding: 12px 20px;
    font-family: Mark Pro;
    font-weight: 500;
    font-size: 1.2rem;
  }
}

@media (min-width:1200px){
  .modules-container{
    padding: 120px 200px;
    height: 50vh;
    
    h4{
      font-size: 1.5rem;
    }

    h3{
      font-size: 3rem;
      font-weight: 500;
      line-height: 50px;
      width: 600px;
    }
    
    img{
      width: 600px;
    }

    
    p{
      font-size: 1.1rem;
      width: 500px;
    }

    button{
      cursor: pointer;
    }
  }
}